
.form-background{
    position: absolute;
    left: 50%;
    top: 50%;
    /* background-color: #080D51; */
    background: url('../assets/inverted_form_shadow.svg');
    background-repeat: no-repeat;
    background-size:cover;
    border: none;
    border-radius: 30px;
    width:24rem;
    /* padding: 0.7rem; */
    display: flex;
    flex-direction: column;
    height:50rem;

    transform : translate(-50%, -50%);

    /* box-shadow: 0px px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    
}



.form-heading{
    font-size: 2.5rem;
    position: relative;
    color: #CECBE6;
    align-self:center;
    /* margin-top: 1rem; */
    font-weight: 700;
    top: -2rem;

}


.srg-form-inverted{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    top: 1rem;
}

.srg-form-inverted input{
    /* margin: 1rem 0; */
    /* margin-left: 1rem; */
    /* padding: .3rem; */
    color: white;
    background-color: transparent;
    border: none;
    /* border-bottom: 2px solid #575D99; */
    align-self: flex-end;
    font-size: 1.2rem;
    width: 90%;
    align-self: center;
    /* margin-right: 0.1rem; */


}

.srg-form-inverted .input-container{
    margin: 1rem 0;
    margin-left: 1rem;
    padding: .3rem;
    border-bottom: 2px solid #575D99;


}

.srg-form-inverted label{
    position: relative;
    color: #A4AADC;
    
}


.srg-form-inverted input::placeholder{
    font-size: 1rem;
    font-weight: 400;
    opacity: 100;
    color: #6066ac;

}

.srg-form-inverted input:focus-within{
    /* font-size: 1.2rem; */
    font-weight: 400;
    border-style: hidden!important;
    border: none!important;
    outline: none;
}


.srg-form-inverted button{
    background-color: #D5D6D4;
    border: none;
    border-radius: 14px;
    color: #080D51;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0rem 1.35rem;
    width: fit-content;
    align-self: flex-start;
    margin: 2rem 1rem;

}

.srg-form-inverted .remove{
    margin-bottom: 0.3rem!important;
    margin-top: 0.01rem!important;
    background-color: #6066ac;
    color: white;
}

.srg-form-inverted .add{
    margin-bottom: 0.3rem!important;
    margin-top: 1rem!important;
    align-self: center;
    background-color: #575D99;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    /* top: 50%;
    left: 50%;
    transform : translate(-50%, -50%); */

}


.social-icon{
    width: 2.4rem;
    /* height: 1rem; */
    background-color: aliceblue;
    border: 4px solid white;
    border-radius: 50px;
    margin: 0.5rem;

}

.sign-up-container{
    border: 2px solid #575D99 ;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    align-self: center;
    width: 50%;
    margin: 0.5rem;
    flex-wrap: nowrap;
    text-align: center;
}



.sign-up *{
    color: #CECBE6;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.copyright-text *{
    color: #A4AADC;
    font-size: 0.55rem;
    margin-top: 0.2rem;
}

