body{
  background: url('./assets/BG.svg') #D5D6D4;;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button{
  cursor: pointer;

}